/* You can add global styles to this file, and also import other style files */

html,
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4; /* light grey background for a subtle, professional look */
  color: #333; /* dark grey text for readability */
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.btn-align-end {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.btn-align-end button {
  margin-left: 10px;
}

.margin-block {
  margin-block: 10px;
}
.d-block {
  display: block;
}
.d-column {
  display: flex;
  flex-direction: column;
}

.dot-pattern {
  background-color: #e9e9e9;
  opacity: 0.8;
  background-image: radial-gradient(#7c7c7c 1.1px, transparent 1.1px),
    radial-gradient(#7c7c7c 1.1px, #e9e9e9 1.1px);
  background-size: 44px 44px;
  background-position: 0 0, 22px 22px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.success {
  .mdc-snackbar__surface {
    background-color: rgb(39, 132, 39) !important;
  }

  .mdc-button .mdc-button__label {
    color: rgb(255, 142, 142) !important;
  }
}
.warning {
  .mdc-snackbar__surface {
    background-color: rgb(216, 181, 97) !important;
  }
  .mdc-button .mdc-button__label {
    color: rgb(255, 142, 142) !important;
  }
}

.error {
  background-color: rgb(136, 66, 66) !important;

  .mdc-button .mdc-button__label {
    color: white !important;
  }
}
mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-name {
  font-weight: bold;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.user-info {
  margin-right: 20px; /* Spacing before buttons */
}
.bodyContainer {
  flex-grow: 1; /* makes the main content take up the rest of the space */
  overflow-y: auto;
  // margin: 0 auto; /* centers the container */
  padding-right: 10%;
  padding-left: 10%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* subtle shadow for a "lifted" effect */
  background-color: #fff; /* white background for the main content area */
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* space between cards */
  padding: 20px; /* padding around the content area */
  justify-content: start; /* centers cards horizontally */
}
.doc-card {
  width: 300px; /* width of the card */
  background-color: #fff; /* white background for the card */
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.2),
    1px 1px 3px 0px rgba(0, 0, 0, 0.14), 0px -2px 10px 0px rgba(0, 0, 0, 0.12) !important;
}

.d-flex {
  display: flex;

  &.justify-content-center {
    justify-content: center;
  }
  &.justify-content-between {
    justify-content: space-between;
  }
  &.justify-content-end {
    justify-content: flex-end;
  }
  &.align-items-center {
    align-items: center;
  }

  &.flex-column {
    flex-direction: column;
  }
  &.flex-row {
    flex-direction: row;
  }

  &.flex-wrap {
    flex-wrap: wrap;
  }

  &.flex-grow-1 {
    flex-grow: 1;
  }

  &.flex-grow-2 {
    flex-grow: 2;
  }

  &.flex-grow-3 {
    flex-grow: 3;
  }

  &.gap-10 {
    gap: 10px;
  }

  &.gap-20 {
    gap: 20px;
  }
}
.w-100 {
  width: 100%;
}

// .mat-mdc-icon-button {
//   transform: scale(0.7);
// }
// .mat-mdc-icon-button.mat-mdc-button-base {
//   padding: 9px !important;
//   width: 30px !important;
// }
